@use './partials/variables.scss' as *;
@use './partials/mixins.scss' as *;

header{
    background-color: $background_header;
    
    .my_container{
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        
    }

    #search-bar{
        margin-bottom: 0;
    }

          

            

}